.hero {
  padding-bottom: 120px;
  background-color: var(--Midnight-Green);
}
.hero__content {
  display: flex;
  justify-content: space-between;
  p {
    width: 600px;
  }
  span {
    color: var(--Light-Coral);
  }
}
.hero__content-last {
}

.meet {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: var(--Deep-Jungle-Green);
  padding-top: 140px;
  padding-bottom: 140px;

  h2 {
    text-align: center;
    margin-bottom: 64px;
  }
}
.container {
}
.directors__top {
  display: flex;
  gap: 30px;
}
.card {
  position: relative;
  background-color: var(--Sacramento-State-Green);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 56px;
  img {
    margin-bottom: 16px;
  }
}
.plus {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: -40px;
}
.directors__bottom {
  display: flex;
  gap: 30px;
}
.card-x {position: relative;
  background-color: var(--Sacramento-State-Green);
  width: 350px;
  padding-top: 34px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  p{width: 250px;
text-align: center;}

}
