.hero {
  position: relative;
  padding-bottom: 120px;
  background-color: var(--Midnight-Green);
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.hero__content {
  display: flex;
  justify-content: space-between;
  p {
    width: 600px;
  }
  span {
    color: var(--Light-Coral);
  }
}
.hero__content-last {
}

.meet {position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: var(--Deep-Jungle-Green);
  padding-top: 140px;
  padding-bottom: 140px;
  .top {position: absolute;
    left:  0;
    top: 0;
  }
  .bottom {position: absolute;
    right:  0;
    bottom: 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 64px;
  }
}
.container {
}
.directors__top {
  display: flex;
  gap: 30px;
}
.card {
  position: relative;
  background-color: var(--Sacramento-State-Green);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 56px;
  img {
    margin-bottom: 16px;
  }
}
.plus {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: -40px;
}
.directors__bottom {
  display: flex;
  gap: 30px;
}
.card-x {
  position: relative;
  background-color: var(--Sacramento-State-Green);
  width: 350px;
  padding-top: 34px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    gap: 10px;
  }
  p {
    width: 250px;
    text-align: center;
  }
  .x {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: -28px;
  }
}

.clients {
  position: relative;

  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--Sacramento-State-Green);
  h2 {
    text-align: center;
    margin-bottom: 64px;
  }
  .clients__img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .box {
    display: flex;
    gap: 80px;
    img {
    }
  }
}

.getStarted {
  position: relative;
  background-color: var(--Light-Coral);
  padding-top: 76px;
  padding-bottom: 76px;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.getStarted__content {
  width: 917px;
  display: flex;
  justify-content: space-between;
}
