.hero {
  padding-top: 9px;
  padding-bottom: 250px;
  background-color: var(--Midnight-Green);
  position: relative;
}
.hero_img_left {
  position: absolute;
  left: 0;
}
.hero_img__bottom {
  position: absolute;
  bottom: 0;
  right: 165px;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  p {
    width: 445px;
  }
  span {
    color: var(--Light-Coral);
  }
}
.hero__content-last {
}

.build {
  padding-top: 198px;
  padding-bottom: 140px;
  background-color: var(--Sacramento-State-Green);
  position: relative;
}
.built-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.build__content {
  display: flex;
  justify-content: space-between;
  h2 {
    width: 445px;
  }
}
.build-nav {
}
.build-nav__list {
}
.build-nav__item {
  h3 {
    color: var(--Light-Coral);
  }
  p {
    width: 445px;
  }
}

.company {
  position: relative;
  background-color: var(--Deep-Jungle-Green);
  padding-top: 140px;
  padding-bottom: 140px;
}
.company__top {
  position: absolute;
  top: 0;
  left: 0;
}
.company__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.container {
}
.company__content {
  display: flex;
  gap: 56px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h2 {
    width: 932px;
    text-align: center;
    span {
      color: var(--Rapture-Blue);
    }
  }
}
.company__card {
  display: flex;
  gap: 30px;
}
.company__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  text-align: center;
  h3 {
    color: var(--Rapture-Blue);
  }
 
}
.job {
  font-weight: 500;
}

.getStarted {
  position: relative;
  background-color: var(--Light-Coral);
  padding-top: 76px;
  padding-bottom: 76px;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.getStarted__content {
  width: 917px;
  display: flex;
  justify-content: space-between;
}
.build-nav {
}
.build-nav__list {
}
.build-nav__item {
  display: flex;
  gap: 22px;
  p {
    opacity: 0.8;
  }
}
